<div class="page">
    <app-header></app-header>
    <div class="home">
    <app-back class="back-button" (click)="goBack()"></app-back>

    <div class="header">
        <p>Cette boîte à outils regroupe des informations supplémentaires à l'intention des professionnels de santé.</p> 
    </div>
    
    <div *ngFor="let item of faqList; let i = index" class="faq-item" (click)="toggleFAQ(i)">
        <div class="faq-question">
        <span>{{ item.question }}</span>
        <span class="arrow" [class.open]="item.open">></span>
        </div>
        <div class="faq-answer" *ngIf="item.open">
        <p>{{ item.answer }}</p>
        </div>
    </div>
    </div>
<app-contactbar></app-contactbar>

</div>

