<app-header></app-header>
<div class="home">
    <app-back (click)="goBack()"></app-back> 
    <div class="about">
        
        <B><h2 class="title">Le Projet Cardio'Clic </h2></B>
        <p class="text">La médecine personnalisée c'est bien, mais pouvoir s'en servir en pratique pour le bénéfice des patients... c'est mieux !</p>
        <p class="text2">Cardio'Clic est un outil d'aide à la décision médicale.
            Il ne se substitue en rien au jugement clinique de l'utilisateur.
        </p>
        <p class="text2">
            Cet outil est développé de manière totalement indépendante de l'industrie pharmaceutique dans le seul but de simplifier la démarche d'évaluation du risque cardiovasculaire et de la rendre accessible au plus grand nombre, en visant plusieurs objectifs : un bénéfice d'efficience pour les utilisateurs, apporter le soin le plus approprié au patient à la lumière des connaissances actuelles, tout en s'intégrant dans cadre d'une pratique raisonnée sur le plan médico-économique.
         </p>  
         <p class="text2">Cardio'Clic vise essentiellement à transposer en Français, et de la manière la plus intuitive et efficiente possible, les recommandations issues de différentes Sociétés Savantes françaises et européennes, systématiquement citées en références et consultables en ligne (notamment HAS et Société Européenne de Cardiologie).</p>
        <p class="text">A vous de jouer ! Cet outil est conçu pour vous faciliter la vie, aidez-nous à le faire vivre et évoluer ! Des retours, des suggestions ? -> support.cardioclicXX.fr</p>
            
    </div>
</div>
<app-contactbar></app-contactbar>