<div class="patient">
    <h2 class="title">VOTRE PATIENT(E)</h2>
    <div *ngIf="patient">
        <div *ngFor="let key of patientKeys">
            <div *ngIf="patient[key] !== null && patient[key] !== undefined">
                <div class="patient-info">
                    <B><p class="text">{{ situation[key].headline }} :&nbsp;</p></B>
                    <p class="text">{{ patient[key] }}</p>
                    <p class="text">&nbsp; {{ situation[key].unit }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

