<div class="patient">
    <h2 class="title">VOTRE PATIENT</h2>
    <div class="parent-element">
        <B><p class="text">Age :  &nbsp;</p></B>
        <p class="text">68</p>
        <p class="text">&nbsp; ans</p>
    </div>

    <div class="parent-element">
        <B><p class="text">Sexe :  &nbsp;</p></B>
        <p class="text">Homme</p>
    </div>

    <div class="parent-element">
        <B><p class="text">Diabète :  &nbsp;</p></B>
        <p class="text">oui</p>
    </div>

    <div class="parent-element">
        <B><p class="text">Age apparition diabète :  &nbsp;</p></B>
        <p class="text">55</p>
        <p class="text">&nbsp; ans</p>
    </div>

    <div class="parent-element">
        <B><p class="text">Prévention :  &nbsp;</p></B>
        <p class="text">secondaire</p>
    </div>
    
    <div class="parent-element">
        <B><p class="text">DFGe :  &nbsp;</p></B>
        <p class="text">2.222</p>
        <p class="text">&nbsp; mL/min/</p>
    </div>
</div>
