.patient {
    color: white; 
    padding : 15px; 
   
    

    .title {
        font-size : 18px; 
        font-weight: bold; 
        
    }

    .text{
        font-size : 14px; 
        color : white; 
    }

    .patient-info {
        display: flex;
        align-items: center;  /* Aligne les éléments verticalement au centre */
        gap: 0px;  /* Espacement entre les éléments */
    }

}

