<div *ngIf="preco" id="sectionToPrint" >
  <div *ngIf="preco.preconisation"> 
      <div class="preconisation" *ngIf="preco.preconisation">
      <div class="preco-header">
        <h2 class="title">Préconisations spécifiques à votre patient</h2>
        <span class="toggle-icon" [class.open]="allBoxesOpen" (click)="toggleAllBoxes()"> ></span>
      </div>
      <p class="text" [innerHTML]="preco.preconisation | formatInfoText"></p>

      <div class="reco-grid" *ngIf=" preco.reco">
        <div class="left-column">
          <!-- Cas secondaire dans les reco condition 1 -->
          <app-reco-box  *ngIf="preco.reco['cardiologue'] && patient.prevention=='Secondaire'"
            [message1]="reco['cardiologue'].condition1.message1"
            [message2]="reco['cardiologue'].condition1.message2"
            [refIcon]="preco.reco['cardiologue'].refIcon"
            [is2Open]="allBoxesOpen"
            [hidden]="reco['cardiologue'].condition1.message2==''">
          </app-reco-box>

          <app-reco-box  *ngIf="preco.reco['cardiologue'] && patient.prevention!=='Secondaire' "
            [message1]="preco.reco['cardiologue'].message1"
            [message2]="preco.reco['cardiologue'].message2"
            [refIcon]="preco.reco['cardiologue'].refIcon"
            [is2Open]="allBoxesOpen"
            [hidden]="preco.reco['cardiologue'].message2==''">
          </app-reco-box>
          

          <app-reco-box  *ngIf="preco.reco['sport']"
            [message1]="preco.reco['sport'].message1"
            [message2]="preco.reco['sport'].message2"
            [refIcon]="preco.reco['sport'].refIcon"
            [is2Open]="allBoxesOpen"
            [hidden]="preco.reco['sport'].message2==''">
          </app-reco-box>

          <app-reco-box  *ngIf="preco.reco['fumeur']&&(patient.fumeur=='Oui'||patient.fumeur==null)"
            [message1]="preco.reco['fumeur'].message1"
            [message2]="preco.reco['fumeur'].message2"
            [refIcon]="preco.reco['fumeur'].refIcon"
            [is2Open]="allBoxesOpen"
            [hidden]="preco.reco['fumeur'].message2==''">
          </app-reco-box>
        </div>
        

        <div class="right-column">
          <app-reco-box *ngIf="preco.reco['ldl']"
            [message1]="preco.reco['ldl'].message1"
            [message2]="preco.reco['ldl'].message2"
            [refIcon]="preco.reco['ldl'].refIcon"
            [is2Open]="allBoxesOpen"
            [hidden]="preco.reco['ldl'].message2==''">
          </app-reco-box>

          <app-reco-box  *ngIf="preco.reco['pression']"
            [message1]="preco.reco['pression'].message1"
            [message2]="preco.reco['pression'].message2"
            [refIcon]="preco.reco['pression'].refIcon"
            [is2Open]="allBoxesOpen"
            [hidden]="preco.reco['pression'].message2==''">
          </app-reco-box>

          <app-reco-box  *ngIf="preco.reco['diabete']"
            [message1]="preco.reco['diabete'].message1"
            [message2]="preco.reco['diabete'].message2"
            [refIcon]="preco.reco['diabete'].refIcon"[is2Open]="allBoxesOpen"
            [is2Open]="allBoxesOpen"
            [hidden]="preco.reco['diabete'].message2==''">
          </app-reco-box>          
        </div>
      </div>

      <div class="fiche-patient no-print">
        <h2 class="title">Imprimer des fiches patient éducatives ciblées pour votre patient (EN COURS)</h2>
        <img [src]="'assets/img/fiche.png'" alt="icon fiche" class="icon" (click)="downloadPDF()"/>
      </div>
    </div>


    <h2 class="title-medecin no-print">Recommandations plus détaillées</h2>
    <div class="reco-medecin no-print">
      
        <!-- Onglets -->
        <div class="tab-buttons">
          <button (click)="selectTab('dyslipidemie')" [class.active]="selectedTab === 'dyslipidemie'">Dyslipidémie</button>
          <button (click)="selectTab('HTA')" [class.active]="selectedTab === 'HTA'">HTA</button>
          <button (click)="selectTab('diabetique')" [class.active]="selectedTab === 'diabetique'">Diabétique</button>
        </div>

        <!-- Contenu des onglets -->
        <div *ngIf="selectedTab === 'dyslipidemie'">
          <div class="tab-header">
            <img [src]="'assets/img/' + reco['dyslipidemie'].refIcon + '.png'" alt="icon medicament" class="icon" />
            <h3 class="title">Dyslipidémie</h3>
          </div>
          <app-detail *ngIf="reco['dyslipidemie']" [reco]="reco['dyslipidemie']"></app-detail>
        </div>

        <div *ngIf="selectedTab === 'HTA'">
          <div class="tab-header">
            <img [src]="'assets/img/' + reco['HTA'].refIcon + '.png'" alt="icon medicament" class="icon" />
            <h3 class="title">HTA</h3>
          </div>
          <app-detail *ngIf="reco['HTA']" [reco]="reco['HTA']"></app-detail>
        </div>

        <div *ngIf="selectedTab === 'diabetique'">
        <div class="tab-header">
            <img [src]="'assets/img/' + reco['diabetique'].refIcon + '.png'" alt="icon medicament" class="icon" />
            <h3 class="title">Diabétique</h3>
          </div>
          <app-detail *ngIf="reco['diabetique']" [reco]="reco['diabetique']"></app-detail>
        </div>
    </div>

    <div class="recalcul">
      <div *ngIf="preco.recalcul; else noRecalcul">
        <p class="strong">Pour votre patient, il est recommandé de recalculer le risque cardiovasculaire tous les {{preco.recalcul}}</p>
        <p class="text">Recalculer également le risque cardiovasculaire à tout moment si un facteur de risque majeur est modifié (exemple début d'un tabagisme)</p>
      </div>

      <ng-template #noRecalcul>
            <p class="text">Le risque cardiovasculaire de votre patient étant très élévé il n'y a pas besoin de recalculer le risque cardiovasculaire. Adressez votre patient à un spécialiste. </p>
      </ng-template>
    </div>
  </div>
</div>
