<div *ngIf="question">
    <h2>{{question.question}}</h2>

    <div *ngIf="question.type == 'prop'">
        <div *ngFor="let response of getResponseArray()">
          <button (click)="userAnswer = response.label; selectedAnswer = response.key;  onAnswerSubmit()">{{response.label}}</button>
        </div>
    </div>

    <div *ngIf="question.type == 'text'">
        <input [(ngModel)]="userAnswer" placeholder="">
        <button (click)="onAnswerSubmit()">Valider</button>
    </div>

    <div *ngIf="question.type == 'subquestion'">

        <div *ngFor="let subquestion of subquestionsArray">
            <p>{{subquestion.question}}</p>

            <div *ngIf="subquestion.type == 'prop'">
                <div *ngFor="let response of getResponseArraySubquestion(subquestion)">
                  <button (click)="subquestion.userAnswer = response.label">{{response.label}}</button>
                </div>
            </div>
        
            <div *ngIf="subquestion.type == 'text'">
                <input [(ngModel)]="subquestion.userAnswer" placeholder="">
            </div>
        </div>
        <button (click)="onAnswerSubmit()">Valider</button>
    </div>    
</div>
