<!-- <div class="question">
    
    <form #question="ngForm" (ngSubmit)="onSubmitForm(question)">
        <label for="question1">Quel est l'âge du patient ?</label>
        <input type="texte" id="question1" name="reponse1" [(ngModel)]="reponse1">
        <label for="question2">Quel est le sexe du patient ?</label>
        <input type="texte" id="question1" name="reponse2" [(ngModel)]="reponse2">
        <button type="submit">Valider</button>
    </form>

    <h2 class="title">La question</h2>
    <p class="text">la première réponse</p>
    <p class="text">la deuxième réponse</p>
</div> -->

<div *ngIf="question">
    <h2>{{question.question}}</h2>

    <div *ngIf="question.type == 'yesno'">
        <button (click)="userAnswer = 'oui'; onAnswerSubmit()">Oui</button>
        <button (click)="userAnswer = 'non'; onAnswerSubmit()">Non</button>
    </div>

    <div *ngIf="question.type == 'prop'">
        <div *ngFor="let response of getResponseArray()">
          <button (click)="userAnswer = response.label; selectedAnswer = response.key;  onAnswerSubmit()">{{response.label}}</button>
        </div>
    </div>

    <div *ngIf="question.type == 'text'">
        <input [(ngModel)]="userAnswer" placeholder="">
        <button (click)="onAnswerSubmit()">Valider</button>
    </div>
</div>
