.home {
    display: flex;
    flex-direction: column;  /* Arrange les éléments verticalement */
    align-items: center;     /* Centrer les éléments horizontalement */
    justify-content: center; /* Centrer les éléments verticalement */
    height: 100vh;           /* Utilise toute la hauteur de la fenêtre */
    text-align: center;      /* Centrer le texte à l'intérieur des éléments */
}

.headline {
    margin-bottom: 20px;     /* Ajoute un peu d'espace sous la question */
}

.btn {
    margin-top: 20px;        /* Espace entre le bouton et la question */
    background-color: rgb(251,92,92);
    color : white; 
}

.text {
    margin-top: 20px; 
}

app-info {
    margin-top: 30px;        /* Espace entre le bouton et app-info */
}
