.home {
    display: flex;
    flex-direction: column;  /* Arrange les éléments verticalement */
    align-items: center;     /* Centrer les éléments horizontalement */
    justify-content: center; /* Centrer les éléments verticalement */
    text-align: center;      /* Centrer le texte à l'intérieur des éléments */
    width: 1250px;
    margin : 0 auto; 
    background-color: rgb(249, 243, 243);
    padding: 20px; /* Ajoute un peu de padding pour éviter que le contenu ne touche les bords */
}

.headline {
    margin-top: 100px; 
    margin-bottom: 50px;    
}

.headline .title {
    font-size: 30px;
}

.btn {
    margin-top: 30px;        /* Espace entre le bouton et la question */
    background-color: rgb(251,92,92);
    padding: 15px;
    color: white;
    font-size: 16px;
    margin-bottom : 30px; 
}

.text {
    margin-top: 20px;
}

.info {
    background-color: rgb(249, 170, 159);
    color: black;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Réduire la marge supérieure pour éviter un espace trop grand */
    width: 1000px;
    box-sizing: border-box; /* essentiel */
    overflow-wrap: break-word; /* casse les mots trop longs */
    word-break: break-word; /* pour certains navigateurs */
    white-space: normal; /* empêche le texte de rester sur une seule ligne */
}

.info .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
}

.info .text {
    width: 100%;
    font-size: 14px;
    color: black;
    text-align: left; /* ou "justify" */
    line-height: 1.5;
}
