<app-header></app-header>
<div class="home"> 
    <div class="headline">
        <h2 class="title">{{ texteService.getText('home.title')}} </h2>
        <h2 class="title">{{ texteService.getText('home.subtitle')}}</h2>
        <p class="text">{{ texteService.getText('home.text')}}</p>
    </div>
    <button class="btn" name="go" (click)="onGo($event)"> Commencer</button>
    <div class="info">
        <h2 class="title">Comment se déroule le test ?</h2>
        <p class="text">Listes les infos à donner et dire ce que l'on va avoir à la fin</p>
    </div>
    
</div>


