.contactbar {
  background-color: rgb(9, 9, 9);
  height: 100px;
  width: 1250px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  .contactbar-left,
  .contactbar-right {
    display: flex;
    align-items: center;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      color: white; // optionnel selon ton design
    }
  }

  .contactbar-right {
    justify-content: flex-end;

    .contactbar-logo {
      height: 80px;
      width: auto;
      object-fit: contain;
      margin-top: 10px;
      margin-right: 10px;
      display: block;
    }
  }
}
