.container2{
    display: flex; 
    // width: 100vw;
    //height : 100vh; 
    min-height : 100vh; 
    margin-left: 50px;
    margin-right: 50px;
    min-width: 700px; // ou plus, si nécessaire
    width: 1250px;
    margin : 0 auto; 

    .left-section {
        flex: 1 1 auto;
        min-width: 0;              // ← important pour éviter que le contenu déborde
        overflow: hidden;          // ou auto si tu veux scroller
        padding: 20px;
        background-color: rgb(249, 243, 243);
    }
    
    .right-section {
        width: 300px;
        flex-shrink: 0; // ← empêche le redimensionnement automatique
        padding: 15px;
        background-color: rgb(123, 84, 113);
    }

    .question {
        margin-left : 50px;
        margin-top: 20px; 
    }
    
    .centered-component{
        display : flex; 
        justify-content: center; 
        align-items: center; 
        padding: 40px;
        width: 100%; 
        box-sizing : border-box; 
    }
    .centered-component app-info {
        flex: 1;
        max-width: 100%;
    }

    .centered-button {
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 100%;
    }
}

