<app-header></app-header>
<div class="container">
    <div class="left-section">
        <app-back (click)="goBack()"></app-back>
        <app-question
            *ngIf= "questionId" 
            [questionId]="questionId">           
        </app-question>
        <div class="centered-component">
            <app-info
            *ngIf= "questionId" 
            [questionId]="questionId">
            </app-info>
        </div>
    </div>
    <div class="right-section">
        <app-patient
        [patient]="patient"></app-patient>
    </div>

    
</div>


